# Gradle
.gradle/
**/build/
**/bin/
**/out/

# IDE & OS
.idea/
*.iml
.vscode/*
!.vscode/settings.json
.DS_Store
Thumbs.db

#Front
node_modules/

# Secrets

# Log
logs/
*.md
!README.md
!docs/api_specification.md
!docs/책 먹는 사자.md

# Postman
.postman/
postman/
