# Gradle
.gradle/
**/build/
**/bin/
**/out/

# IDE & OS
.idea/
.vscode/
*.iml
.vscode/*
!.vscode/settings.json
.DS_Store
Thumbs.db

# Front
node_modules/

# Secrets

# Log
logs/

# Postman
.postman/
postman/
