server:
  port: 8080

spring:
  application:
    name: book-eating-lion-api
  datasource:
    url: jdbc:mysql://localhost:3306/book_eating_lion?useSSL=false&serverTimezone=Asia/Seoul&characterEncoding=UTF-8
    username: root
    password: YOUR_DB_PASSWORD
    driver-class-name: com.mysql.cj.jdbc.Driver

mybatis:
  mapper-locations: classpath:mapper/*.xml
  configuration:
    map-underscore-to-camel-case: true

jwt:
  secretKey: YOUR_JWT_SECRET_KEY_HERE_MUST_BE_LONG_ENOUGH
  secretKeyRt: YOUR_JWT_REFRESH_TOKEN_SECRET_KEY_HERE_MUST_BE_LONG_ENOUGH
